nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}
li {
  margin-left: 20px;
  font-size: 18pt;
}
li a {
  text-decoration: none;
  padding: 15px;
  border: 1px solid rgb(73, 244, 193);
  color: rgb(73, 244, 193);
  background-color: rgb(243, 113, 167)
}
ul.dropdownList {
  position: absolute; 
  background-color: rgb(73, 244, 193);
  display: none;
  flex-direction: column;
  margin-top: 15px;
}
.dropdownItem:hover .dropdownList {
  display: flex;
}
.dropdownList li {
  margin-left: 0; 
}
.dropdownList li a {
  border-style: none;
  margin-left: 0;
  display: block;
}
.dropdownList {
  padding: 0;
}
a:visited {
  color: rgb(236, 55, 130);
}
a:hover {
  text-decoration: none;
  box-shadow: 0 0 9px 10px rgb(236, 55, 130);
}
a.current {
  color: rgb(86, 240, 201)
}
a:active {
  color: rgb(255, 0, 200)
}
html {
  background-image: url('music.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.textblock {
  background-color: rgba(253, 44, 201, 0.63); 
  margin-right: 60%;
  padding:20px;
}
.textbox {
  background-color: rgba(253, 44, 201, 0.63);
  margin-right: 60%;
  padding: 20px;
  font-size: 20px
}